.Subscription-container{
    max-width: 50%;
    margin-top: 4%;
    height: 800px;
    background-color:  #9DAD7F;
    margin-left: 50%;
    transform: translateX(-50%);
    border-radius: 20px;
}

.Subscription-title{
    margin-left: 36%;
    font-size: 35px;
    display: flex;
}

.Subscription-text{
    width: 80%;
    margin-left: 60px;
    margin-top: -10px;
    margin-bottom: 70px;
    font-size: 18px;
}

.Rows{
    max-width: 90%;
    display: flex;
    margin-top: 20px;
}

.Row-1{
    margin-left: 20px;
    flex: 50%;
    height: 20px;
    font-size: 20px;
}

.Dropdown{
    margin-left: 60px ;
    width: 250px;
    height: 40px;
    background-color: #f7f7e8;
}

.Row-2{
    margin-top: 40px;
    margin-left: 20px;
    flex: 50%;
    height: 20px;
    font-size: 20px;
}

.Row-3{
    margin-top: 40px;
    margin-left: 20px;
    flex: 50%;
    height: 20px;
    font-size: 20px;
}

.Row-4{
    margin-top: 40px;
    margin-left: 20px;
    flex: 50%;
    height: 20px;
    font-size: 20px;
}

.Button-subscribe{
    margin-top: 60px;
    margin-left: 37%;
    width: 20%;
    padding: 10px 20px;
    cursor: pointer;
    display: block;
    background: #f7f7e8;
    border-radius: 30px;
    text-decoration: none;
    border: none;
}

.Test{
    text-decoration: none;
    color: black;
}