* {box-sizing: border-box;}

.Gray-container {
    background-color: lightgray;
    width: 85%;
    height: 250px;
    margin-left: 3%;
    margin-top: 60px;
    position: absolute;
}

.Gray-container-text{
    margin-left: 60px;
    margin-top: -15px;
    margin-bottom: 50px;
    /* background-color: white; */
}

.Gray-container-text h3{
    font-weight: 100;
    font-style: normal;
    font-size: 40px;
}

.Gray-container-text p{
    font-size: 27px;
    margin-top: -40px;
    font-style: italic;
}

.scroling-Pictures{
    pointer-events: none;
}

.scroling-Pictures{
    max-width: 1000px;
    position: relative;
    margin:auto;
}

.Pictures-fade{
    display: none;
}

.Bottom-dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin-top: 20px;
    background-color: black;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .Bottom-dot:hover {
    background-color: #717171;
}

.fade {
    animation-name: fade;
    animation-duration: 2.5s;
}

.Pictures-text {
    color: #f2f2f2;
    font-size: 60px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

.Short-text p{
    font-size: 40px;
    position: relative;
    margin-left: 20px;
    margin-top: 80px;
}

.Index-columns{
    display: flex;
    width: 100%;
    float: left;
}

.Columns{
    flex: 100%;
    margin-left: 40px;
}

.Container-1{
    background-color: lightgrey;
    width: 80%;
    height: 200%;
}

.Contrainer-green{
    width: 80%;
    float: right;
    background-color: #9DAD7F ;
    height: 200%;
    border-radius: 20px;
    margin-top: -150px;
    margin-right: 10px;
}

.Container-2{
    background-color: lightgrey;
    width: 80%;
    height: 60%;
}

.Search-2{
    float: right;
    margin-right: 10px;
    margin-top: -30px;
    width: 85%;
    background-color: #9DAD7F;
    height: 40px;
    border-radius: 30px;
}


.Search_bar-2{
    border: none;
    width: 75%;
    height: 30px;
    margin-top: 4px;
    outline: none !important;
    margin-left: 10px;
    background-color: #9DAD7F;
}

.Search-2 button{
    border: none;
    height: 28px;
    width: 28px;
    margin-top: -1px;
    border-radius: 50%;
    background-color: #9DAD7F;
}




.plus-minus-input {
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .plus-minus-input .input-group-field {
    text-align: center;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    padding: 1rem;
  }
  
  .plus-minus-input .input-group-field::-webkit-inner-spin-button,
  .plus-minus-input .input-group-field ::-webkit-outer-spin-button {
    -webkit-appearance: none;
            appearance: none;
  }
  
  .plus-minus-input .input-group-button .circle {
    border-radius: 50%;
    padding: 0.25em 0.8em;
  }
  
  