<html>
  <head>
    <link rel="stylesheet" href="../static/Css/Navigation_menu.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <title>Byte by Byte</title>
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <style></style>
  </head>
  <body>
    <div class="index">
      <ul id="Navigation_desktop">
        <div class="Navbar_left">
          <li>
            <a href="../index.html"
              ><img src="../static/Pictures/index/leeg_logo.png" class="Logo"
            /></a>
          </li>
          <li><a href="../index.html">Home</a></li>
          <li>
            <a class="Navigation_desktop_active" href="Product.html">Products</a>
          </li>
          <li><a href="Dishes.html">Dishes</a></li>
          <li><a href="About_us.html">About us</a></li>
        </div>
        <div class="Navbar_right">
          <li style="float: right"><a href="../static/PHP/Log_in.php">Log in</a></li>
          <!-- <li style="float:right;"><a href=""><img src="../Pictures/index/Basic_profilepicture.png" class="Avatar"></a></li>                                         Moet worden aangepast als je bent ingelogd bent -->
          <li style="float: right">
            <a href="Shoppingcart.html" class="Shopping_cart"
              ><i
                class="fa fa-shopping-cart"
                style="color: #939393; font-size: 30px; margin-top: 4px"
              ></i
            ></a>
          </li>
          <li style="float: right">
            <form action="" class="Search">
              <input type="text" placeholder="Search" class="Search_bar" />
              <button type="submit">
                <i class="fa fa-search" aria-hidden="true"></i>
              </button>
            </form>
          </li>
        </div>
      </ul>
      <div id="Navigation_mobile">
        <a
          href="javascript:void(0);"
          class="icon hamburgericon"
          onclick="showTHINGIEYESPLEASAE()"
        >
          <i class="fa fa-bars"></i
        ></a>
        <a class="On_hover_off">Products</a>
        <div class="Shopping_cart_mobile">
          <a href="Shoppingcart.html" class="Shopping_cart_mobile"
            ><i class="fa fa-shopping-cart" style="color: #939393"></i
          ></a>
        </div>
        <div class="Avater_mobile">
          <a href="" class="Avatar_mobile"
            ><img
              src="../static/Pictures/index/Basic_profilepicture.png"
              alt="Profiel foto"
          /></a>
        </div>

        <script>
          function showTHINGIEYESPLEASAE() {
            var menu = document.getElementById("linkies");
            if (menu.style.display === "block") {
              menu.style.display = "none";
            } else {
              menu.style.display = "block";
            }
          }
        </script>
      </div>
      <div id="linkies">
        <li><a href="../index.html">Home</a></li>
        <li><a href="Dishes.html">Dishes</a></li>
        <li><a href="About_us.html">About us</a></li>
      </div>
    </div>
    <div class="Bio" style="position:relative; top:770; left:450"><b style="position:relative; top:8; left:3">BIO</b></div>
    <div class="Image"><img src="../static/Pictures/Ingredients/banner.jpg" alt="Spring banner"; height="150px" width="2000px"; ></div>
    <div class="Rectangles_product_left"></div>

    <div class="grid_product">
      <div
        class="Rectangles_product1"
        style="grid-column: 1 / 1; grid-row: 1/1; background-color: white; z-index: -2;"
      >
      <div style="position:relative; left:170; top:275">€3,49<br><b>500g</b></div>
        <img src="../static/Pictures/Ingredients/witte asperge.jpg" alt="Witte Asperge, 500g" height="300" style="position:relative; top:30; z-index: -1;">
        <div class="Circle"><div style="position:relative; left:40; top:10; font-family: Arial, Helvetica, sans-serif; font-weight: 500;">White Asparagus</div></div>
  
      </div>




      <div
        class="Rectangles_product2"
        style="grid-column: 2 / 2; grid-row: 1/1; z-index: -2; position:relative; background-color: white;"
      >
      <div style="position:relative; left:170; top:275">€3,49<br><b>500g</b></div>
        <img src="../static/Pictures/Ingredients/groene asperge.jpg" alt="Groene asperge, 500g" height="300" style="position:relative; top:15; z-index: -1">
        <div class="Circle"><div style="position:relative; left:40; top:10; font-family: Arial, Helvetica, sans-serif; font-weight: 500;">Green Asparagus</div></div>
   </div>
      
      
      
      
      
      <div
        class="Rectangles_product3"
        style="grid-column: 3 / 3; grid-row: 1/1; background-color: white; z-index: -2;"
      >
      <div style="position:relative; left:160; top:275">€1,49<br><b>each</b></div>
      <img src="../static/Pictures/Ingredients/kool.jpg" alt="Chinese kool" height="240" width="200" style="position:relative; top:55; z-index: -1; ">
      <div class="Circle" style="position:relative; top:60"><div style="position:relative; left:40; top:10; font-family:Arial, Helvetica, sans-serif; font-weight: 500;">Chinese Cabbage</div></div>
    </div>



    
      <div
        class="Rectangles_product4"
        style="grid-column: 4 / 4; grid-row: 1/1; background-color: white; z-index: -2;"
      >
      <div style="position:relative; left:160; top:275">€1,39<br><b>each</b></div>
       <img src="../static/Pictures/Ingredients/paksoi.jpg" alt="Pak soi" height="290" width="270" style="position:relative; top:15; z-index: -1; left:-30">
       <div class="Circle" style="position:relative; top:10"><div style="position:relative; left:73; top:10; font-family:Arial, Helvetica, sans-serif; font-weight: 500;">Pak soi</div></div>
      </div>





      <div
        class="Rectangles_product5"
        style="grid-column: 1 / 1; grid-row: 2/2; background-color: white; position:relative; top:130; z-index: -2;"
      >
      <div style="position:relative; left:160; top:198">€0,99<br><b>150g</b></div>
      <img src="../static/Pictures/Ingredients/radijs.jpg" alt="Radijs" height="200" width="160" style="position:relative; top:15; z-index: -1; left:15">
      <div class="Circle" style="position:relative; top:10"><div style="position:relative; left:50; top:10; font-family:Arial, Helvetica, sans-serif; font-weight: 500;">Organic radish</div></div>  
    </div>





      <div
        class="Rectangles_product6"
        style="grid-column: 2 / 2; grid-row: 2/2; background-color: white; position:relative; top:130; z-index: -2;"
      >
      <div style="position:relative; left:160; top:198">€1,49<br><b>250g</b></div>
      <img src="../static/Pictures/Ingredients/carrots.jpg" alt="Carrots" height="220" width="250" style="position:relative; top:15; z-index: -1; left:-15">
      <div class="Circle" style="position:relative; top:-10"><div style="position:relative; left:50; top:10; font-family:Arial, Helvetica, sans-serif; font-weight: 500;">Organic carrots</div></div>  
    </div>
    <div class="Bio" style="position:relative; top:-117; left:470"><b style="position:relative; top:8; left:3">BIO</b></div>




      <div
        class="Rectangles_product7"
        style="grid-column: 3 / 3; grid-row: 2/2; background-color: white; position:relative; top:130; z-index: -2;"
      >
      <div style="position:relative; left:160; top:198">€1,29<br><b>500g</b></div>
      <img src="../static/Pictures/Ingredients/banaan.jpg" alt="Bananas" height="200" width="200" style="position:relative; top:15; z-index: -1; left:-15">
      <div class="Circle" style="position:relative; top:10"><div style="position:relative; left:70; top:10; font-family:Arial, Helvetica, sans-serif; font-weight: 500;">Bananas</div></div>    
    </div>





      <div
        class="Rectangles_product8"
        style="grid-column: 4 / 4; grid-row: 2/2; background-color: white; position:relative; top:130; z-index: -2;"
      >
      <div style="position:relative; left:160; top:198">€2,49<br><b>250g</b></div>
      <img src="../static/Pictures/Ingredients/WALNUTS.jpg" alt="Walnuts" height="200" width="200" style="position:relative; top:15; z-index: -1; left:-15">
      <div class="Circle" style="position:relative; top:10"><div style="position:relative; left:70; top:10; font-family:Arial, Helvetica, sans-serif; font-weight: 500;">Walnuts</div></div>  
    </div>
    </div>

    
    <div class="Rectangles_DD" style="top:160px" >
    <div style="position:relative; left:16px; top:30px"><b>Quality</b></div>
    <div class="Line" style="position:relative; margin-left:16px; top:32px" ></div>
    <div class="Line" style="position:relative; margin-left:16px; top:372px" ></div>
    <div class="Line" style="position:relative; margin-left:16px; top:105px" ></div>
    <div class="Line" style="position:relative; margin-left:16px; top:592px" ></div>
    <div class="Menubox" style="top:40px">Show lower quality products</div>
    <p class="Menubox" style="top:50px"><b>Categories</b></p>
    <p class="Menubox" style="top:60px">Vegetables</p>
    <p class="Menubox" style="top:70px">Fruit</p>
    <p class="Menubox" style="top:80px">Potatoes</p>
    <p class="Menubox" style="top:90px">Dried fruit and nuts</p>
    <p class="Menubox" style="top:100px">Lettuce and herbs</p>
    <p class="Menubox" style="top:110px"><b>Diet</b></p>
    <p class="Menubox" style="top:120px">Organic/BIO</p>
    <p class="Menubox" style="top:130px">Low sugar</p>
    <p class="Menubox" style="top:140px">Low fat</p>
    <p class="Menubox" style="top:150px">Low salt</p>
    <p class="Menubox" style="top:160px"><b>Allergies</b></p>
    <p class="Menubox" style="top:170px">No lactose</p>
    <p class="Menubox" style="top:180px">No eggs</p>
    <p class="Menubox" style="top:190px">No gluten</p>
    <p class="Menubox" style="top:200px">No peanuts</p>
    <p class="Menubox" style="top:210px">No soy</p>
  </body>
</html>
