<html>
<head>
    <link rel="stylesheet" href="../static/Css/Navigation_menu.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Byte by Byte</title>
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
</head>
<body>
    <div class="index">
        <ul id="Navigation_desktop">
            <div class="Navbar_left">
                <li><a href="../index.html"><img src="../static/Pictures/index/leeg_logo.png" class="Logo"></a></li>
                <li><a href="../index.html">Home</a></li>
                <li><a href="Product.html">Products</a></li>
                <li><a class="Navigation_desktop_active" href="Dishes.html">Dishes</a></li>
                <li><a href="About_us.html">About us</a></li>
            </div>
            <div class="Navbar_right">
                <li style="float:right;"><a href="../static/PHP/Log_in.php">Log in</a></li>
                <!-- <li style="float:right;"><a href=""><img src="../Pictures/index/Basic_profilepicture.png" class="Avatar"></a></li>                                         Moet worden aangepast als je bent ingelogd bent -->
                <li style="float: right;"><a href="Shoppingcart.html" class="Shopping_cart"><i class='fa fa-shopping-cart' style='color:#939393; font-size: 30px; margin-top: 4px;'></i></a></li>
                <li style="float: right;">
                    <form action="" class="Search" >
                        <input type="text" placeholder="Search" class="Search_bar">
                        <button type="submit"><i class="fa fa-search" aria-hidden="true"></i>
                        </button>
                    </form>
                </li>
            </div>
        </ul>
        <div id="Navigation_mobile">
            <a href="javascript:void(0);" class="icon hamburgericon" onclick="showTHINGIEYESPLEASAE()">
                <i class="fa fa-bars"></i></a>
                <a class="On_hover_off">Products</a>
                <div class="Shopping_cart_mobile">   
                    <a href="Shoppingcart.html" class="Shopping_cart_mobile"><i class='fa fa-shopping-cart' style='color:#939393;'></i></a>
                </div>
                <div class="Avater_mobile">
                    <a href="" class="Avatar_mobile"><img src="../static/Pictures/index/Basic_profilepicture.png" alt="Profiel foto"></a>
                </div>

            <script>
                function showTHINGIEYESPLEASAE(){
                var menu = document.getElementById('linkies')
                if (menu.style.display === 'block'){
                    menu.style.display = 'none';
                } else {
                    menu.style.display = 'block'
                    }
                }
            </script>
        
        </div>
        <div id="linkies">
            <li><a href="../index.html">Home</a></li>
            <li><a href="Dishes.html">Dishes</a></li>
            <li><a href="About_us.html">About us</a></li>
        </div>
    </div>
</body>
<body>
    <div class="Image">
    <img src="../static/Pictures/dishes/Pancakes.png" alt="Vegan_kapsalon" class="Image" style="position:absolute; width:500px; Height:auto;  left:65px; top: 187px;"></a>  
    <div class="Title_recp" style= "height:36px; width:700px; left:65px; top:145px; text-align: left;">
        Pancakes (Main course/Side course/Dessert)
    </div>
    <div class="Rectangles_Recp" style="left: 800px; top:181px; height: 1000px;"></div>
    <div class="Rectangles_Ingre" style="left: 56px; top:600px"></div>
    <div class="Recipe_text" style= "height:36px; width:150px; left:820px; top:196px">
        Preparation
    </div>
    <div class="Preparation_line" style="width: 642px; left: 800px; top:243px"></div>
    <div class="Rectangles_Mealbox" style="left: 380px; top:525px"></div>
    <div class="Rectangles_Persons" style="left: 66px; top:525px"></div>
    <div class="PeopleUp_button" style="left: 244px; top: 532px;">
        <button onclick="incrementClick()" class="PeopleUp_button">^</button>
    </div>
    <div class="PeopleUp_button" style="left: 200px; top: 525px;">
        <button onclick="OppositeClick()" class="PeopleUp_button">⌄</button>
    </div>
    <div class="BoxPer_text" style= "width:140px; left:461px; top:530px">
        <button onclick="OrderButton()" style="width:140px; left:461px; top:530px; background-color: #557174; border: none; height: 24px; color: white;">Order Mealbox</button>
    </div>
    <div>
        <h3 id="counter-label" style="left: 100px; top: 512px;">1 Person</h3>
    </div>
    <div class="IngredientsTitl_text" style="left: 82px; top: 610px;">
        Ingredients (Present in mealbox):
    </div>
    <div>
        <h3 id="Ingredients_text" style="left: 80px; top: 615px;">1 - Egg(s)<br>15 gr - Unsalted butter<br>150 gr - Flour<br>250 ml Halffull milk
    </div>
    <div class="Separation_line" style="width: 365px; left: 56px; top:750px"></div>
    <div class="Separation_line" style="width: 365px; left: 56px; top:806px"></div>
    <div class="Separation_line" style="width: 297px; left: 421px; top:659px"></div>
    <div class="Separation_line" style="width: 329px; left: 256px; top:764px; transform: rotate(90deg);"></div>
    <div class="IngredientsExtra_text" style="left: 80px; top: 755px; width: 500px;">
        Ingredients (Not present in mealbox):<br> Salt, (cinnamon)
    </div>
    <div class="IngredientsExtra_text" style="left: 435px; top: 610px;">
        Allergies: Lactose, eggs and gluten
    </div>
    <div>
        <h3 id="Ingredients_text2" style="left: 435px; top: 640px;">1 G Salt<br>2 G Fibers<br>5 G Fat<br>9 G Protein<br>30 Kcal Carbohydrates<br>160 Mg Sodium<br>205 Kcal Nutrition</h3>
    </div>
    <div class="IngredientsExtra_text" style="left: 80px; top: 810px;">
        Preparation time: 15 min<br>(based on 4 persons)<br>Ease of making: Easy<br>Liked by <a style="font-weight: bold;">72</a>% of our enthusiastic cooks 
    </div>
    <div class="Preparation_text" style="left: 800px; top: 254px;">
        *  Sift the flour with the salt into a large mixing bowl.
    </div>
    <div class="Separation_line" style="width: 646px; left: 800px; top: 335px;"></div>
    <div class="Preparation_text" style="left: 800px; top: 340px;">
        *  Add the eggs and half of the milk, beat with a whisk until smooth.
    </div>
    <div class="Separation_line" style="width: 646px; left: 800px; top: 420px;"></div>
    <div class="Preparation_text" style="left: 800px; top: 425px;">
        *  Pour in the rest of the milk and beat again until smooth.
    </div>
    <div class="Separation_line" style="width: 646px; left: 800px; top: 505px;"></div>
    <div class="Preparation_text" style="left: 800px; top: 510px;">
        *  Cover the bowl with foil and let the batter stand for 20 minutes. Continue after you have waited the 20 minutes.
    </div>
    <div class="Separation_line" style="width: 646px; left: 800px; top: 620px;"></div>
    <div class="Preparation_text" style="left: 800px; top: 625px;">
        *  Heat a knob of butter in a 20 cm frying pan and spoon a ladle of batter into it. Rotate the pan so that the entire bottom is covered.
    </div>
    <div class="Separation_line" style="width: 646px; left: 800px; top: 745px;"></div>
    <div class="Preparation_text" style="left: 800px; top: 750px;">
        *  Bake the pancake for 2 minutes on medium heat until the top is dry and the bottom is golden brown. After flip the pancake and cook for 1 more minute.
    </div>
    <div class="Separation_line" style="width: 646px; left: 800px; top: 875px;"></div>
    <div class="Preparation_text" style="left: 800px; top: 880px;">
        *   Keep the pancakes warm under a lid or a plate.
    </div>
    <div class="Separation_line" style="width: 646px; left: 800px; top: 925px;"></div>
    <div class="Preparation_text" style="left: 800px; top: 930px;">
        *  Repeat the previous two steps until there is no more batter left.
    </div>
    <div class="Separation_line" style="width: 646px; left: 800px; top: 1010px;"></div>
    <div class="Preparation_text" style="left: 800px; top: 1015px; font-weight: bold;">
        The meal is now ready !
    </div>
    <div class="Separation_line" style="width: 646px; left: 800px; top: 1055px;"></div>
    <div class="Preparation_text" style="left: 800px; top: 1060px;">
        For an extra touch on the vegan kapsalon try adding some Cinnamon to the batter.
    </div>
    <div class="Rectangles_Ingre" style="left: 56px; top:1000px"></div>
    <div class="Preparation_text" style="left: 56px; top: 1010px; font-weight: bold;">
        Could you help us out ?
    </div>
    <div class="Preparation_text" style="left: 65px; top: 1050px; text-align: left;">
        Ease of making according to expectations.
    </div>
    <div class="Separation_line" style="width: 662px; left: 56px; top: 1090px;"></div>
    <div class="Preparation_text" style="left: 65px; top: 1095px; text-align: left;">
        Preparation time according to expectations.
    </div>
    <div class="Separation_line" style="width: 662px; left: 56px; top: 1140px;"></div>
    <div class="Preparation_text" style="left: 65px; top: 1145px; text-align: left;">
        A dish for everyone ?
    </div>
    <div class="Separation_line" style="width: 662px; left: 56px; top: 1185px;"></div>
    <div class="Preparation_text" style="left: 65px; top: 1190px; text-align: left;">
        Liked the dish that you prepared ?
    </div>
    <div class="Separation_line" style="width: 662px; left: 56px; top: 1230px;"></div>
    <div class="Preparation_text" style="left: 56px; top: 1250px; font-weight: bold;">
        Thank you and enjoy your meal !
    </div>

    
    <script>
        var counterVal = 1;
        var EmptyList = []
        const ingredients = {
            150: " Gr - Flour",
            1 : " - Egg(s)",
            15 : " Gr - Unsalted butter",
            250 : " Ml - Halffull milk",              
        }
        const IngrExtra = {
            205: " Kcal Nutrition",
            160: " Mg Sodium", 
            30: " Kcal Carbohydrates",
            9: " G Protein",
            5: " G Fat",
            2: " G Fibers",
            1: " G Salt",
        }
        
            function incrementClick() {
            updateDisplay(++counterVal);
            DictionaryIngr(counterVal);
            DictionaryExtra(counterVal);
            }
            function OppositeClick() {
            updateDisplay(--counterVal);
            DictionaryIngr(counterVal);
            DictionaryExtra(counterVal);
            }
            function updateDisplay(val) {
            if (val == 1)
                document.getElementById("counter-label").innerHTML = val + " Person";
            if (val < 1)
                OppositeClick.disabled == true + updateDisplay(++counterVal);  
            if (val > 1)
                document.getElementById("counter-label").innerHTML = val + " Persons";
            }
            function DictionaryIngr(val) {
            for (const key of Object.keys(ingredients))
                EmptyList.push(key*val + ingredients[key] + "<br>");
                console.log(EmptyList)
                document.getElementById("Ingredients_text").innerHTML = EmptyList.join("");
                EmptyList = [];
            }
            function DictionaryExtra(val) {
            for (const key of Object.keys(IngrExtra))
                EmptyList.push(key*val + IngrExtra[key] + "<br>");
                console.log(EmptyList)
                document.getElementById("Ingredients_text2").innerHTML = EmptyList.join("");
                EmptyList = [];
            }

    </script>
    
</body>
</body>
</html>

    